body {  background-color: wheat;
    
}

header {    

}

.subtittle {   
    margin: 0;

}

.navbar {   position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    z-index: 100;
    
}

.navbar ul {   
    list-style: none;
    display: flex;

}

.navbar ul li a {   text-decoration: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 30px 20px;
    transition: color 0.3s;

}

.navbar ul li a:hover {
    color:#ffcc00 #ffcc00

}



.card { 
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
    height: 400px;
    background-color: rgb(173, 148, 102);
    font-size: large;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    animation: rotateCard 8s infinite linear;
    transform: skewY(15deg);

} 

.card-container {
    perspective: 1000px;

}


.card-photo {  
            
            width: 300px;
            height: 200px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
                               
        }


@keyframes rotateCard {
    0% {
        transform: rotateY(0deg);

    }
    


    100% {  transform: rotateY(360deg);
    }

}
